/*#mainSun {
  float: left;
  width: 750px;
}

#sidebar {
  position: relative;
  left:-150px;
  top:100px;
  float: right;
  width: 100px;
}
*/
#sidebar {
  position: relative;
  left:150px;
	/*padding-left: 150px;*/
	top: 50px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 200px;
  left: 303px;
  width: 140px;
  text-align: center;
  color: #666;
  font-size: 16px;
  
}

#percentage {
  font-size: 2.5em;
}